<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0, user-scalable=yes">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">

    <script type="text/javascript">
      var x = {{ data.x|tojson }}
      var y = {{ data.y|tojson }}
    </script>

    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />

    <script type="text/javascript" src='../test-credentials.js'></script>   

    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
    type="text/javascript" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
    type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>
    <script>window.ENV_VARIABLE = 'developer.here.com'</script><script src='../iframeheight.js'></script>

  </head>

  <body style="padding: 0; margin: 0;" id="markers-on-the-map">

    
    <div id="map"></div>
    <script>
    function addMarkerToGroup(group, coordinate, html) {
      var marker = new H.map.Marker(coordinate);
      // add custom data to the marker
      marker.setData(html);
      group.addObject(marker);
    }

    function addInfoBubble(map) {
  var group = new H.map.Group();

  map.addObject(group);

  // add 'tap' event listener, that opens info bubble, to the group
  group.addEventListener('tap', function (evt) {
    // event target is the marker itself, group is a parent event target
    // for all objects that it contains
    var bubble = new H.ui.InfoBubble(evt.target.getGeometry(), {
      // read custom data
      content: evt.target.getData()
    });
    // show info bubble
    ui.addBubble(bubble);
  }, false);
    addMarkerToGroup(group, {lat: x, lng: y},
    '<div><h2>YOU</h2></div>');
    
    addMarkerToGroup(group, {lat: 53.430, lng: -2.961},
    '<div><a href="https://www.liverpoolfc.tv">Liverpool</a></div>' +
    '<div>Anfield<br />Capacity: 54,074</div>');
}






      function moveMapToBerlin(map){
      map.setCenter({lat:x, lng:y});
      map.setZoom(14);
    }
      function myFunc(vars) {
    return x + y
    }

    // Initialize the platform object:
    var platform = new H.service.Platform({
      'apikey': 'KFtQDR-RSEu6S3XI68xZpn3B8YIeDdDKqeawRlxXe5s'
    });

    // Obtain the default map types from the platform object
    var maptypes = platform.createDefaultLayers();


    console.log(x)
    console.log(y)

    // Instantiate (and display) a map object:
    var map = new H.Map(
      document.getElementById('map'),
      maptypes.vector.normal.map,
      {
        zoom: 7,
        center: { lng: y, lat: x },
        pixelRatio: window.devicePixelRatio || 1
      });


    window.addEventListener('resize', 
      () => map.getViewPort().resize());

    var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));

    var ui = H.ui.UI.createDefault(map, maptypes);
    window.onload = function () {
      moveMapToBerlin(map);
    }

    addInfoBubble(map);

    </script>
    
  </body>
</html>
